:root {
  --h1-margin: 22px;
}

html {
  background-color: #18191c;
}

h1 {
  margin-top: 0;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.invisible {
  visibility: hidden;
}

.back-link {
  margin-top: 0;
  margin-bottom: var(--h1-margin);
}
